        .DS_Store
        .editorconfig
        .env
        .gitattributes
        .htaccess
        .rnd
        .styleci.yml
        README.md
        app/
        artisan
        bootstrap/
        composer.json
        composer.lock
        config/
        database/
        index.php
        package-lock.json
        package.json
        phpunit.xml
        public/
        resources/
        routes/
        server.php
        server/
        sql/
        storage/
        test/
        tests/
        vendor/
        verification.php
        webpack.mix.js